@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,600,600i,700,700i');

.color-checkbox {
  color: #212121;
  font-family: Roboto;
  /* font-weight: 600; */
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.color-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: #CDCED0 solid 1px;
  border-radius: 5px !important;
}

/* On mouse-over, add a grey background color */
.color-checkbox:hover input ~ .checkmark {
  border-color: #adaeb1;
}

/* When the checkbox is checked, add a blue background */
.color-checkbox input:checked ~ .checkmark {
  background-color: #fff;
  border-color: #CDCED0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.color-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.color-checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid #444444;
  border-width: 0 2.8px 2.8px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ------- Primary color ------- */
.color-checkbox.primary-color input:checked ~ .checkmark {
  background-color: #3699FF;
  border-color: #fff;
}
.color-checkbox.primary-color .checkmark:after {
  border: solid white;
  border-width: 0 2.8px 2.8px 0;
}
.color-checkbox.primary-color input:checked ~ .checkmark {
  border-color: #3699FF;
}


/*------------------------------------------------------------------------------------------------
# Login page
-------------------------------------------------------------------------------------------------*/
#login-page {
  background: linear-gradient(249.78deg, #35D3FF -0.64%, #1f69e5 103.6%);
  min-height: 100vh;
}
.login-form {
  padding: 2rem 1.5rem;
  background-color: #fff;
  border: 1px solid #D5E0D5;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
}
.login-form h5 {
  color: #212121;
  /* font-weight: 600; */
  font-size: 1.5rem;
  font-family: Roboto;
  margin-top: 1rem;
}
.login-form-group label {
  color: #212121 !important;
  /* font-weight: 600; */
  display: inline-block;
  font-family: Roboto;
}
.login-form-group .login-form-control {
  width: 100%;
  border: 1px solid #d6d6d7;
  /* color: #464E5F; */
  color: #212121;
  outline: none;
  border-radius: 5px;
  line-height: 37px;
  padding: 0.3rem 0.7rem;
  -webkit-transition: color 0.15s ease, background-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}
.login-form-group .login-form-control:focus {
  border: 1px solid #3699FF;
}
.login-form a {
  color: #3699FF;
  text-decoration: none;
}
.login-form a:hover {
  color: #0073e9;
}
.login-form .login-btn {
  border: none;
  color: #fff;
  background: #212121;
  border-radius: 60px;
  width: 100%;
  height: 45px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0.7rem;
  -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}
.login-form .login-btn:hover {
  background: #111111;;
}

.parsley-error {
  border-color: #ec536c;
}

.parsley-errors-list {
  display: none;
  margin: 0;
  padding: 0;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list > li {
  font-size: 12px;
  list-style: none;
  color: #ec536c;
  margin-top: 5px;
}

/* Loader */
#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 100000;
  text-align: center;
}
#loader div {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  top: 50%;
  margin-top: -20px;
  height: 100px;
}
#loader img, #customloader img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

/* Notify */
/* .alert[data-notify] .close {
  top: 14px !important;
}
.alert[data-notify] [data-notify=message] {
  padding-right: .7rem;
} */

/*-----------------------------------------------------------
# Admin messages
-------------------------------------------------------------*/
.image-preview-wrapper {
  width: 150px;
  height: 150px;
  border: 1px solid #E5EAEE;
  border-radius: 5px;
}
.image-preview-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.mass-clickable.sorting_asc:before,
.mass-clickable.sorting_asc:after {
  display: none !important;
}

.custom-file-input ~ .custom-file-label::after {
  content: none;
}
.custom-file-input ~ .custom-file-label .custom-file-browse {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: calc(1.5em + 1.3rem);
  padding: 0.65rem 1rem;
  line-height: 1.5;
  color: #464E5F;
  content: "Browse";
  background-color: #F3F6F9;
  border-left: inherit;
  border-radius: 0 0.42rem 0.42rem 0;
}

/* Custom form group style */
.custom-form-group label {
  color: #212121 !important;
  font-family: Roboto;
  font-size: 16px;
}
.custom-form-group input,
.custom-form-group textarea,
.custom-form-group select {
  color: #212121 !important;
  font-size: 16px !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}